@import './../app.component';

.poo-nav {
  border-bottom: 1px solid $poop-conference;
  background-color: white;
  color: $poop;
  a {
    color: $poop;
    &:hover {
      background-color: $poop;
      border: 1px solid $poop-conference;
      color: white;
      cursor: pointer;
    }
  }
}
