<div *ngIf="users" class="row">

  <div class="col-xs-6">
    <div *ngFor='let user of users;let id = index;' class="user-list-container ">
      <span class="well well-sm clearBoth">
        {{user.name | uppercase}}
      </span>
      <button type="button" (click)="userHer(id, user)" class="btn btn-danger btn-sm pootun">Load Your Poo</button>


    </div>

  </div>




  <div class="col-xs-6">
    <app-crud></app-crud>

  </div>
  <div class="col-xs-12">
    <app-user [user]="user"></app-user>
  </div>
</div>
