$poop-it-out: #B5520B;
$poopy: #38240C;
$poop: #6B4C13;
$poop-conference: #C29325;
$poop-brown: #593001;



.pootun {
  background-color: white;
  border: 1px solid black;
  color: $poop;
  margin-bottom: 10px;
  &:hover {
    background-color: $poop;
    color: white;
  }
}

.poorders {
  border: 20px solid $poop-conference;
}

.full-pootun {
  @extend .pootun;
  width: 100%;
}

.right-pootun {
  @extend .pootun;
  float: right;
  margin-top: 10px;
  clear: both;
}

.clearBoth {
  width: 100%;
  clear: both;
  float: left;
}
