<div *ngIf="userGotTime()">
  <div>
    <div class="clearBoth">
      <div class="col-xs-12" *ngIf="!editingTime()">
        <button class="btn btn-danger btn-sm full-pootun" (click)="onSubmit()" [disabled]="!signupForm.valid">ADD POO</button>
      </div>
    </div>

    <div *ngIf="editingTime()">
      <div class="col-xs-12 col-sm-6">
        <button class="btn btn-danger btn-sm full-pootun" (click)="onSubmit()" [disabled]="!signupForm.valid">MOFIDY POO</button>

      </div>


      <div class="col-xs-12 col-sm-6">
        <button class="btn btn-danger btn-sm full-pootun" (click)="deletePoo()" [disabled]="!signupForm.valid">DELETE POO</button>

      </div>
    </div>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-4 col-sm-2">
      <label for="size">Size</label>
    </div>
    <div class="col-xs-8 col-sm-4">
      <input type="text" id="size" formControlName="size" class="form-control">
    </div>
    <div class="col-xs-4 col-sm-2">
      <label for="smell">Smell</label>
    </div>
    <div class="col-xs-8 col-sm-4">
      <input type="text" id="smell" formControlName="smell" class="form-control">
    </div>



  </form>
  <div class="col-xs-12">
    <button class="btn btn-danger btn-sm right-pootun" (click)="clearThePoo()">Clear</button>

  </div>
</div>
